{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h2>{{ test_run.id }}</h2>
    Test Run Forrest, Test Run!

    <h3>Results</h3>
    <table style="width:90%" class="table">
        <thead>

        <tr>
            <th>ID</th>
            <th>Test Name</th>
            <th>Status</th>
            <th>Duration</th>
        </tr>
        </thead>
        {% for result in test_run.results %}
            <tr>
                <td>{{ result.id }}</td>
                <td>{{ result.test_id }}</td>
                <td>{{ result.status }}</td>
                <td>TBD</td>
                <td><a href="{{ url_for('get_build', build_nr=build.build_nr, project_id=project.id) }}"
                       class="btn btn-small btn-primary">Details</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}